<div ng-controller="ConversationController">
  <div ng-show="newGame">
    <p><%= @conversation.people.map(&:name).join(" + ") %></p>
    <h1>Rules</h1>

    <ol>
      <li>Let's discuss issues</li>
      <li>Listen and have empathy
      <li>Be Nice
    </ol>


    <button ng-click="getStarted()">Go</button>
  </div>
</div>
