<div ng-controller="ConversationController" ng-cloak>
  <div ng-show="newGame">
    <header>
      <p>{{ player1 }} and {{ player2 }}</p>
    </header>

    <h1>The Ground Rules</h1>

    <button ng-click="getStarted()">Go</button>
  </div>

  <div ng-show="chooseIssue">
    <header>
      <p>{{ currentPlayer }}</p>
    </header>
    <h1>
    </h1>

    <p>Some Issues to Consider</p>
    <ul>
      <li>Abortion
      <li>Civil Rights
      <li>Climate Change
      <li>Economic Policy
      <li>Education
      <li>Foreign Policy
      <li>Goverment Programs
      <li>Gun Control
      <li>Healthcare
      <li>Immigration
      <li>Taxes
      <li>Trade
    </ul>
  </div>

  <div ng-show="issue">
    <p>{{ currentPlayer}} selected {{ issue }}</p>
  </div>
</div>
